.container{
    height: calc(100vh - 101px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('assets/images/smile.png') repeat fixed top;
    background-size: 100px;
}

.dialog-box{
    height: 191px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 28px;
    border: 2px solid black;
    border-radius: 10px;
}

.dialog-content{
    width: 222px;
    text-align: center;
}

.dialog-text{
    font-size: 40px;
}

@media screen and (max-width: 425px) {
    .btn.big{
        width: 100%;
    }
}
