/* THE BASE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Bebas Neue';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* .App {
    font-size: 18px;
} */

*::selection{
    color:white;
    background-color: #000;
}

a:visited:not(.btn){
    color:black;
}

/* SCROLLBAR */

::-webkit-scrollbar-track{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
  width: .5em;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	background-color: #000000;
}
